.container{
    max-width: 1240px;
    margin: 0 auto;
}
.header{
    
    height: 80px;
}
.header-con{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo-container a{
    background: linear-gradient(45deg,#5433FF,#00C9FF,#00467F,#A5CC82);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Noto Sans Thai', sans-serif;
    background-clip: text;
    color: transparent;
    
}

@keyframes color{
    0%{
       background-position: 0 50%;
    }
    50%{
       background-position: 100% 50%;
    }
    100%{
       background-position: 0 50%;
    }
}

.menu{
    display: flex;
    list-style-type: none;
}
.menu li {
    padding-right: 2rem;
}
.menu li a{
    text-decoration: none;
    
    font-family: 'Noto Sans Thai', sans-serif;
}
.mobile-menu{
    display: none;
}
@media screen and (max-width: 480px){
    .mobile-menu{
        display: block;
        color: #000000;
        font-size: 2rem;
    }
    .header{
        padding: 0 2rem;
    }
    .menu{
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 64px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
        
    }
    .menu.active{
        background: #202020;
        left: 0;
        opacity: 1;
        z-index: 1;
        align-content: center;
        transition: 0.5s ease;
        padding-left: 0;
    }
    .menu li{
        padding-right: 0;
    }
    .menu-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 10px 0;
    }
}

